<footer class="footer">
    <span>“Where Fitness Becomes Your Lifestyle”</span>
    <div class="right">
        <div class="links">
            <a href="#" aria-label="Read more about Privacy Policy">Privacy Policy</a>
            <a href="#" aria-label="Read more about Cooperation">Cooperation</a>
            <a href="#" aria-label="Read more about Sponsorship">Sponsorship</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="social">
            <a target="_blank" href="/" aria-label="social">
                <i class='bx bxl-instagram'></i>
            </a>
            <a target="_blank" href="/" aria-label="social">
                <i class='bx bxl-facebook-square'></i>
            </a>
            <a target="_blank" href="/" aria-label="social">
                <i class='bx bxl-discord-alt bx-flip-horizontal' ></i>
            </a>
        </div>
        <p>Copyright © 2024 High Street Gym, All Rights Reserved.</p>
    </div>
</footer>
